{% from 'helper.j2' import get_commits with context -%}
/*
 * {{ fname }}
 *
 * Fix for CVE-{{ cve }}, bsc#{{ bsc_num }}
 *
{% if include_header is defined %}
 *  Upstream commit:
{{ get_commits('upstream') }}
 *
 *  SLE12-SP3 commit:
{{ get_commits('4.4') }}
 *
 *  SLE12-SP4, SLE12-SP5, SLE15 and SLE15-SP1 commit:
{{ get_commits('4.12') }}
 *
 *  SLE15-SP2 and -SP3 commit:
{{ get_commits('5.3') }}
{% endif %}
 *
 *  Copyright (c) {{ year }} SUSE
 *  Author: {{ user }} <{{ email }}>
 *
 *  Based on the original Linux kernel code. Other copyrights apply.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, see <http://www.gnu.org/licenses/>.
 */

