{% macro get_commits(codestream, bullet) %}
{% if not commits[codestream] %}
{{ bullet }}Not affected
{% else %}
{% for commit, msg in commits[codestream].items() %}
{% if codestream == 'upstream' %}
{{ bullet }}{{ commit }} ("{{ msg }}")
{% else %}
{{ bullet }}{{ msg }}
{% endif %}
{% endfor %}
{% endif %}
{{ bullet }}
{%- endmacro %}
