#ifndef _{{ fname | upper }}_H
#define _{{ fname | upper }}_H

{% if check_enabled is defined %}
#if IS_ENABLED({{ config }})
{% endif %}

int {{ fname }}_init(void);
{% if mod is defined %}
void {{ fname }}_cleanup(void);
{% else %}
static inline void {{ fname }}_cleanup(void) {}
{% endif %}

{% if check_enabled is defined %}
#else /* !IS_ENABLED({{ config }}) */
{% endif %}

static inline int {{ fname }}_init(void) { return 0; }
static inline void {{ fname }}_cleanup(void) {}

{% if check_enabled is defined %}
#endif /* IS_ENABLED({{ config }}) */
{% endif %}

#endif /* _{{ fname | upper }}_H */
