# @file ci-tests.yml
---
name: klp-build tests

on:
  pull_request:
    branches:
      - 'devel'
      - 'main'
  push:
    branches:
      - '*'
      - '!devel'
      - '!main'

jobs:
  distribution-check:
    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed:latest
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: zypper in -y python3-devel git python3-pytest tox

    - name: Run pylint
      run: tox -e lint -- --fail-under 9.4 --fail-on F --fail-on unused-variable --fail-on unused-import --fail-on consider-using-sys-exit --fail-on trailing-newlines --fail-on dangerous-default-value --fail-on wrong-import-order --fail-on redefined-argument-from-local --fail-on no-else-return --fail-on use-dict-literal --fail-on unnecessary-negation --fail-on inconsistent-return-statements --fail-on use-implicit-booleaness-not-len

    - name: Get month
      id: get-month
      run: |
        echo "month=$(date +%m)" >> $GITHUB_OUTPUT
      shell: bash

    - name: Cache kernel-source
      id: cache-ksrc
      uses: actions/cache@v4
      with:
        path: build/kernel-source
        key: kernel-source-${{ steps.get-month.outputs.month }}

    - name: Cache kernel.git
      id: cache-kernel
      uses: actions/cache@v4
      with:
        path: build/kernel
        key: kernel-${{ steps.get-month.outputs.month }}

    - if: ${{ steps.cache-ksrc.outputs.cache-hit != 'true' }}
      # It will take around 25min to download the whole repo.
      # Hopefully we won't have the need to do it very often.
      name: Download kernel-source
      continue-on-error: false
      run: git clone https://github.com/SUSE/kernel-source build/kernel-source

    - if: ${{ steps.cache-kernel.outputs.cache-hit != 'true' }}
      # It will take around 25min to download the whole repo.
      # Hopefully we won't have the need to do it very often.
      name: Download kernel
      continue-on-error: false
      run: git clone https://github.com/SUSE/kernel build/kernel

    - name: Run klp-build tests
      run: |
        mkdir -p ~/.config/klp-build &&
        cp tests/config ~/.config/klp-build/ &&
        mkdir -p klp/{livepatches,data} &&
        tox -e tests -- tests/test_{ksrc,scan,config,kernel_tree,utils,codestream}.py
